 <form>
     <!-- Pitanje2_8 -->
    <div class="col-md-12">
        <p class=""><strong>Које се мобилне ГИС апликације користе у вашој организацији?</strong></p>
    </div>
    <div class="row-fluid">
        <div class="formColumn col-md-6">
            <div id="div_id_form5-Program" class="form-group">
                <div class="controls col-md-12">
                    <select name="form5-Program" required="" id="id_form5-Program" class="select form-control multiselect">
                        <option value="ArcPAD">ArcPAD</option>
                        <option value="Leica Zeno">Leica Zeno</option>
                        <option value="Интерно креиране апликације">Интерно креиране апликације</option>
                        <option value="Остало">Остало</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="formColumn col-md-6">
            <div id="div_id_form5-Namena" class="form-group">
                <div class="controls col-md-12">
                    <select name="form5-Namena" required="" id="id_form5-Namena" class="select form-control multiselect">
                        <option value="Прикупљање података са терена">Прикупљање података са терена</option>
                        <option value="Праћење возила">Праћење возила</option>
                        <option value="Остало">Остало</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>