<form>
<!-- Pitanje3_5-->
    <div class="row-fluid">
    <div class="formColumn col-md-3">
        <div id="div_id_form14-Proizvod" class="form-group">
            <label for="id_form14-Proizvod" class="control-label col-md-12 requiredField">
                Proizvod<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-12">
                <select name="form14-Proizvod" id="id_form14-Proizvod" required="" class="select form-control multiselect">
                    <option value="Катастарске парцеле и објекти">Катастарске парцеле и објекти</option>
                    <option value="Подаци катастра непокретности">Подаци катастра непокретности</option>
                    <option value="Ортофото">Ортофото</option> <option value="Адресе">Адресе</option>
                    <option value="Топографске карте ">Топографске карте (1:20 000 и ситније размере)</option>
                    <option value="Основна државна карта">Основна државна карта (1:5000; 1:10 000)</option>
                    <option value="Просторни планови">Просторни планови</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-3">
        <div id="div_id_form14-Proizvodjac" class="form-group">
            <label for="id_form14-Proizvodjac" class="control-label col-md-12 requiredField">
                Proizvodjac<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-12">
                <select name="form14-Proizvodjac" id="id_form14-Proizvodjac" required="" class="select form-control multiselect">
                    <option value="РГЗ">Републички геодетски завод</option>
                    <option value="ВГИ">Војногеографски институт</option>
                    <option value="Завод за заштиту природе Србије">Завод за заштиту природе Србије</option>
                    <option value="Републички завод за статистику">Републички завод за статистику</option>
                    <option value="Републичка дирекција за воде">Републичка дирекција за воде</option>
                    <option value="Републички хидрометролошки завод">Републички хидрометролошки завод</option>
                    <option value="Завод за заштиту споменика културе">Завод за заштиту споменика културе</option>
                    <option value="ЈП Пошта Србије">ЈП Пошта Србије</option> <option value="ЈП Путеви Србије">ЈП Путеви Србије</option>
                    <option value="European Environment Agency">European Environment Agency (EEA)</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-3">
        <div id="div_id_form14-Prostorni_obuhvat" class="form-group">
            <label for="id_form14-Prostorni_obuhvat" class="control-label col-md-12 requiredField">
                Prostorni obuhvat<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-12">
                <select name="form14-Prostorni_obuhvat" id="id_form14-Prostorni_obuhvat" required="" class="select form-control multiselect">
                    <option value="Територија Републике Србије">Територија Републике Србије</option>
                    <option value="Територија административне надлежности организације">Територија административне надлежности организације</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-3">
        <div id="div_id_form14-Razlog_nedostupnosti" class="form-group">
            <label for="id_form14-Razlog_nedostupnosti" class="control-label col-md-12 requiredField">
                Razlog nedostupnosti<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-12">
                <select name="form14-Razlog_nedostupnosti" id="id_form14-Razlog_nedostupnosti" required="" class="select form-control multiselect">
                    <option value="Цена">Цена</option>
                    <option value="Непостојање">Непостојање</option>
                    <option value="Неажурност">Неажурност</option>
                    <option value="Недоступност на интернету">Недоступност на интернету</option>
                    <option value="Начин преузимања">Начин преузимања</option>
                    <option value="Непокривеност">Непокривеност</option>
                    <option value="Непостојање дигиталне форме">Непостојање дигиталне форме</option>
                    <option value="Лоша садрадња са надлежном организацијом">Лоша садрадња са надлежном организацијом</option>
                    <option value="Тајност података">Тајност података</option> <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
</form>