 <form>
     <div class="formColumn col-md-4">
            <div id="div_id_form3-Program" class="form-group">
                <div class="controls col-md-12">
                    <select name="form3-Program" required="" id="id_form3-Program" class="select form-control multiselect">
                        <option value="ArcGIS Desktop (ESRI)">ArcGIS Desktop (ESRI)</option>
                        <option value="Q GIS">Q GIS</option>
                        <option value="MapInfo">ArcGIS Desktop (ESRI)</option>
                        <option value="GeoMedia">GeoMedia</option>
                        <option value="MapSoft">MapSoft</option>
                        <option value="AutoCAD">AutoCAD</option>
                        <option value="Bently MicroStation">Bently MicroStation</option>
                        <option value="ERDAS IMAGINE">ERDAS IMAGINE</option>
                        <option value="Leica Photogrametry Suite">Leica Photogrametry Suite</option>
                        <option value="eCognition Trimble">eCognition Trimble</option>
                        <option value="Интерно креиране апликације">Интерно креиране апликације</option>
                        <option value="Остало">Остало</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="formColumn col-md-4">
            <div id="div_id_form3-Namena" class="form-group">
                <div class="controls col-md-12">
                    <select name="form3-Namena" required="" id="id_form3-Namena" class="select form-control multiselect">
                        <option value="Израда планова и карата">Израда планова и карата</option>
                        <option value="Пројектовање">Пројектовање</option>
                        <option value="Извештавање">Извештавање</option>
                        <option value="Управљање и планирање коришћења земљишта">Управљање и планирање коришћења земљишта</option>
                        <option value="Урбанизам и грађевински послови">Урбанизам и грађевински послови</option>
                        <option value="Праћење промена и просторне анализе">Праћење промена и просторне анализе</option>
                        <option value="Креирање и анализа ДМТ">Креирање и анализа ДМТ</option>
                        <option value="Геореференцирање и обрада растерских података">Геореференцирање и обрада растерских података</option>
                        <option value="Даљинска детекција">Даљинска детекција</option>
                        <option value="Обрада података добијених ласерским скенирањем">Обрада података добијених ласерским скенирањем</option>
                        <option value="Остало">Остало</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="formColumn col-md-4">
            <div id="div_id_form3-Ucestalost_Koriscenja" class="form-group">
                <div class="controls col-md-12">
                    <select name="form3-Ucestalost_Koriscenja" required="" id="id_form3-Ucestalost_Koriscenja" class="select form-control multiselect">
                        <option value="Свакодневно">Свакодневно</option>
                        <option value="Често за обимније анализе">Често за обимније анализе</option>
                        <option value="Понекад за посебне анализе и извештаје">Понекад за посебне анализе и извештаје</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>