<form> 
<!--Pitanje3_3 -->
<div class="row-fluid">
    <div class="formColumn col-md-4">
        <div id="div_id_form12-Proizvod" class="form-group">
            <div class="controls col-md-12">
                <select name="form12-Proizvod" class="select form-control multiselect" id="id_form12-Proizvod" required="">
                    <option value="Катастарске парцеле и објекти">Катастарске парцеле и објекти</option>
                    <option value="Подаци катастра непокретности">Подаци катастра непокретности</option>
                    <option value="Ортофото">Ортофото</option> <option value="Адресе">Адресе</option>
                    <option value="Топографске карте">Топографске карте (1:20 000 и ситније размере)</option>
                    <option value="Основна државна карта">Основна државна карта (1:5000; 1:10 000)</option>
                    <option value="Просторни планови">Просторни планови</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-4">
        <div id="div_id_form12-Proizvodjac" class="form-group">
            <div class="controls col-md-12">
                <select name="form12-Proizvodjac" class="select form-control multiselect" id="id_form12-Proizvodjac" required="">
                    <option value="РГЗ">Републички геодетски завод</option>
                    <option value="ВГИ">Војногеографски институт</option>
                    <option value="Завод за заштиту природе Србије">Завод за заштиту природе Србије</option>
                    <option value="Републички завод за статистику">Републички завод за статистику</option>
                    <option value="Републичка дирекција за воде">Републичка дирекција за воде</option>
                    <option value="Републички хидрометролошки завод">Републички хидрометролошки завод</option>
                    <option value="Завод за заштиту споменика културе">Завод за заштиту споменика културе</option>
                    <option value="ЈП Пошта Србије">ЈП Пошта Србије</option>
                    <option value="ЈП Путеви Србије">ЈП Путеви Србије</option>
                    <option value="European Environment Agency">European Environment Agency (EEA)</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-4">
        <div id="div_id_form12-Prostorni_Obuhvat" class="form-group">
            <div class="controls col-md-12">
                <select name="form12-Prostorni_Obuhvat" class="select form-control multiselect" id="id_form12-Prostorni_Obuhvat" required="">
                    <option value="Територија Републике Србије">Територија Републике Србије</option>
                    <option value="Територија административне надлежности организације">Територија административне надлежности организације</option>
                    <option value="Друго">Друго</option>
                </select>
            </div>
        </div>
    </div>
</div>
</form>
