<form>
<!-- Pitanje2_6 -->
<div class="col-md-12">
    <p class=""><strong>Који системи за управљање базама постоје у Вашој организацији?</strong></p>
</div>
<div class="row-fluid">
    <div class="formColumn col-md-6">
        <div id="div_id_form4-Program" class="form-group">
            <div class="controls col-md-12">
                <select name="form4-Program" required="" id="id_form4-Program" class="select form-control multiselect">
                    <option value="MS Access">MS Access</option>
                    <option value="Oracle ">Oracle </option>
                    <option value="PostgreSQL">PostgreSQL</option>
                    <option value="MicrosoftSQL">MicrosoftSQL</option>
                    <option value="Остало">Остало</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formColumn col-md-6">
        <div id="div_id_form4-Namena" class="form-group">
            <div class="controls col-md-12">
                <select name="form4-Namena" required="" id="id_form4-Namena" class="select form-control multiselect">
                    <option value="Складиштење просторних података">Складиштење просторних података</option>
                    <option value="Складиштење алфанумеричких података">Складиштење алфанумеричких података</option>
                    <option value="Остало">Остало</option>
                </select>
            </div>
        </div>
    </div>
</form>