/* Toggle button styles*/
/*
.toggle-button {
    position: relative;
    display: inline-block;
    color: #fff;
}

.toggle-button input {
    display: none;
}

.toggle-button__icon {
    cursor: pointer;
    pointer-events: none;
}

.toggle-button__icon:before,
.toggle-button__icon:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 35%;
    transition: 0.2s ease-out;
}
/*
                            * Toggle button variables
                            */
/*
                            * Toggle button styles
                            */
/*
.toggle-button--tuuli label {
    /*visina pozadine*/
 /*   height: 20px;
    transition: all 0.2s;
    margin-top:50%;
    
}

.toggle-button--tuuli label:before,
.toggle-button--tuuli label:after {
    position: absolute;
    right: 1rem;
    transition: all 0.2s .1s ease-out;
}

.toggle-button--tuuli input[type=checkbox]+label {
    /*sirina pozadine*/
   /* width: 20px;
    background: #f9f9f9;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin-right:10px;
}

.toggle-button--tuuli input[type=checkbox]+label:before {
    opacity: 0;
    transform: translate(0, 20px);
}

.toggle-button--tuuli input[type=checkbox]+label:after {
    opacity: 1;
    transform: translate(0, 0);
}

.toggle-button--tuuli input[type=checkbox]:checked~label {
    /*sirina pozadine*/
  /*  width: 20px;
    background: #428bca;
}

.toggle-button--tuuli input[type=checkbox]:checked~.toggle-button__icon:before {
    transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1);
}

.toggle-button--tuuli input[type=checkbox]:checked~.toggle-button__icon:after {
    transform: translate(20%) rotate(-45deg);
}

.toggle-button--tuuli .toggle-button__icon {
    position: absolute;
    /*pozicija x*/
  /*  height: 20px;
    width: 20px;
    margin-top:5px;
}

.toggle-button--tuuli .toggle-button__icon:before,
.toggle-button--tuuli .toggle-button__icon:after {
    /*velicina x*/
 /*   width: 13px;
    height: 3px;
    border-radius: 3px;
    background: #f9f9f9;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-left: -13%;
    top: -110%;
}

.toggle-button--tuuli .toggle-button__icon:before {
    transform: rotate(45deg);
}

.toggle-button--tuuli .toggle-button__icon:after {
    transform: rotate(-45deg);
}
